<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <h1>Please Login</h1>
    <center>
        <form action="/login" method="post">
            <fieldset>
                <legend><strong>Login Page</strong></legend>
                <label for="em">Email / MobileNumber:</label>
                <input type="email" id="em" name="email-phone">
                <br><br>
                <label for="pa">Password:</label>
                <input type="password" id="pa" name="password">
                <br><br>
                <button>Submit</button>
                <button>Cancel</button>
                <h3>if you dont have account click on signup below</h3>
                <button>Signup</button>
                <a href="#">forgot password</a>
            </fieldset>
        </form>
    </center>
</body>
</html>